<div class="row justify-content-md-center mt-2">
    <div class="col col-md-8">
        <h2>Collectors</h2>
        {{#if message}}
        <div class="alert {{messageClass}}" role="alert">
            {{message}}
        </div>
        {{/if}}
        <table class="table table-striped">
            <thead>
                <th>Collector id</th>
                <th>Username</th>
                <th>Is Admin?</th>
                <th>Phone Number</th>
                <th>Email</th>
            </thead>
            <tbody>
                {{#each collector}}
                    <tr>
                        <td>{{{collector_id}}}</td>
                        <td><a href="/collector/{{{collector_id}}}">{{{username}}}</a></td>
                        <td>{{{is_admin}}}</td>
                        <td>{{{phone_number}}}</td>
                        <td>{{{email}}}</td>
                  </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>