<div class="row justify-content-md-center mt-2">
    <div class="col col-md-8">
        {{#if search}}
        <h2>Search Results for "{{{username}}}"</h2>
        {{else}}
        <h2>Collectors</h2>
        {{/if}}
        {{#if message}}
        <div class="alert {{messageClass}}" role="alert">
            {{message}}
        </div>
        {{/if}}
        <table class="table table-striped">
            <th>Collector id</th>
            <th>Username</th>
            <th>Admin Status</th>
            {{#if isAuthenticated}}
            <th>Email</th>
            {{/if}}
            {{#if isAuthenticated}}
            {{#each collector}}
                <tr>
                    <td>{{{collector_id}}}</td>
                    <td><a href="/collector/{{{collector_id}}}">{{{username}}}</a></td>
                    <td>{{{is_admin}}}</td>
                    <td>{{{email}}}</td>
                </tr>
            {{/each}}
            {{else}}
            {{#each collector}}
                <tr>
                    <td>{{{collector_id}}}</td>
                    <td><a href="/collector/{{{collector_id}}}">{{{username}}}</a></td>
                    <td>{{{is_admin}}}</td>
                </tr>
            {{/each}}
            {{/if}}
        </table>
    </div>
</div>

<script src="/js/sortTable.js"></script>
