<div class="row justify-content-md-center mt-2">
    <div class="col col-md-8">
        <h2>Collectible</h2>

    {{#if nofilter}}
    {{else}}
    <form id='filter_type' action='/filter/:type_name' method='get'>
        <label> Filter by type: </label>
        <select id='type_filter' name="type_name"> 
            {{#each collectibleByType}}
            <option value="{{type_id}}">{{type_name}}</option>
            {{/each}}
        </select><br>
         <input class="button" type="button" value="Filter" onclick="filterCollectiblesByType()">
    </form>
    {{/if}}

        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Type</th>
                <th>Piece Count</th>
                <th>Set Number</th>
                <th>Theme</th>
                <th>Designer</th>
                <th>Number</th>
                <th>Line</th>
                <th>Series</th>
                <th>Release Year</th>
                <th>Image</th>
            </thead>
            <tbody>
                {{#each collectible}}
                    <tr>
                        <td>{{{name}}}</td>
                        <td>{{{type_name}}}</td>
                        <td>{{{attributes.piece_count}}}</td>
                        <td>{{{attributes.set_number}}}</td>
                        <td>{{{attributes.theme}}}</td>
                        <td>{{{attributes.designed_by}}}</td>
                        <td>{{{attributes.number}}}</td>
                        <td>{{{attributes.line}}}</td>
                        <td>{{{attributes.series}}}</td>
                        <td>{{{attributes.year_released}}}</td>
                        <td style ="padding:0 15px 0 15px;"><img src=/collectible/image/{{{collectible_id}}} width="100px" height="100px" /></td>	
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>



<script src="/js/filterCollectibles.js"></script>
