<div class="row justify-content-md-center mt-2">
    <div class="col col-md-8">
        <h2>Collectible</h2>
    {{#if message}}
        <div class="alert {{messageClass}}" role="alert">
            {{message}}
        </div>
    {{/if}}
    {{#if nofilter}}
    {{else}}
    <form id='filter_type' action='/filter/:type_name' method='get'>
        <label> Filter by type: </label>
        <select id='type_filter' name="type_name"> 
            {{#each collectibleByType}}
            <option value="{{type_id}}">{{type_name}}</option>
            {{/each}}
        </select><br>
         <input class="button" type="button" value="Filter" onclick="filterCollectiblesByType()">
    </form>
    {{/if}}
            <input type="hidden" name="collectible_id" id="collectible_id" value="{{{collectible_id}}}" readonly>

    {{#if clearfilter}}
    <a class="button" type="button" href="/collectible"><button>Clear filter</button></a>
    {{/if}}
    
        <table class="table table-striped">
            <thead>
                <th>Collectible id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Piece Count</th>
                <th>Set Number</th>
                <th>Theme</th>
                <th>Designer</th>
                <th>Number</th>
                <th>Line</th>
                <th>Series</th>
                <th>Release Year</th>
                <th>Product Type</th>
                <th>Season/Holiday</th>
                <th>Generation</th>
                <th>Image</th>
            </thead>
            <tbody>
                {{#each collectible}}
                    <tr>
                        <td>{{{collectible_id}}}</td>
                        <td style="word-break:break-all;"><a href="/collectible/{{{collectible_id}}}">{{{name}}}</a></td>
                        <td>{{{type_name}}}</td>
                        <td>{{{attributes.piece_count}}}</td>
                        <td>{{{attributes.set_number}}}</td>
                        <td>{{{attributes.theme}}}</td>
                        <td>{{{attributes.designed_by}}}</td>
                        <td>{{{attributes.number}}}</td>
                        <td>{{{attributes.line}}}</td>
                        <td>{{{attributes.series}}}</td>
                        <td>{{{attributes.year_released}}}</td>
                        <td>{{{attributes.product_type}}}</td>
                        <td>{{{attributes.season}}}</td>
                        <td>{{{attributes.generation}}}</td>
                        <td style ="padding:0 15px 0 15px;"><img src=/collectible/image/{{{collectible_id}}} width="100px" height="100px" /></td>	
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<link rel="stylesheet" href="/css/collectible.css"/>
<script src="/js/filterCollectibles.js"></script>
