<div class="row justify-content-md-center mt-2">
    <div class="col col-md-8">
    {{#if message}}
        <div class="alert {{messageClass}}" role="alert">
            {{message}}
        </div>
    {{/if}}
        <div>
            <input type="hidden" name="collectible_id" id="collectible_id" value="{{{collectible_id}}}" readonly>
        {{#if search}}
        <h2>Search Results for "{{{name}}}"</h2>
        {{else}}
        <h2>Collectibles</h2>
        <br>
        <h6>Filter</h6>
            <form method="GET" action="/collectible" id="filter-form">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="legoFilter" name="filter" value="lego">
                    <label class="form-check-label" for="legoFilter">Lego</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="funkoFilter" name="filter" value="funko">
                    <label class="form-check-label" for="funkoFilter">Funko</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="pusheenFilter" name="filter" value="pusheen">
                    <label class="form-check-label" for="pusheenFilter">Pusheen</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="pokemonFilter" name="filter" value="pokemon">
                    <label class="form-check-label" for="pokemonFilter">Pokemon</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="hotwheelsFilter" name="filter" value="hot wheels">
                    <label class="form-check-label" for="hotwheelsFilter">Hot Wheels</label>
                </div>
                <button type="submit" class="btn btn-primary">Filter</button>
                <a class="btn btn-success" href="/collectible" role="button">Reset</a>
            </form>
        </div>
        {{/if}}
        {{#each collector}}
        <input type="hidden" name="collectible_id" id="collectible_id" value="{{{collectible_id}}}" readonly>
        <input type="hidden" name="collector_id" id="collector_id" value="{{{collector_id}}}" readonly>
        {{/each}}
        {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
        {{/if}}
        <br>
        <p>Click on the table headers to sort the collectibles by the clicked column. You may sort by collectible id, name, type, and date added.</p>
        
        {{#if isLoggedIn}}
            <form action='/collectible/update' method='post' class="form-example">
                <input type="submit" class="btn btn-secondary" value="Update Collection">
                <br>
                <br>
                <table class="table table-striped">
                        <tr>
                            <th>Collectible id</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Date added to database</th>
                            <th>Image</th>
                            <th>Have</th>
                            <th>Want</th>
                            <th>For Trade</th>
                        </tr>
                        {{#each collectibleRow}}
                            <tr>
                                <td>{{{collectible_id}}}</td>
                                <td style="word-break:break-word;" width="200px"><a href="/collectible/{{{collectible_id}}}">{{{name}}}</a></td>
                                <td>{{{type_name}}}</td>
                                <td>{{{created_at}}}</td>
                                <td style ="padding:0 15px 0 15px;"><img src=/collectible/image/{{{collectible_id}}} width="100px" height="100px" /></td>	
                                    <input type="hidden" name="collectible_id[]" id="collectible_id" value="{{{collectible_id}}}" readonly>
                                <td>
                                    <label for="has_quantity"><i class="fas fa-check"></i> :</label>
                                    <input type="number" step="1" min="0" max="500"
                                    name="has_quantity[]" id="q1" value="{{{has_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                                </td>
                                <td><label for="wants_quantity"><i class="fas fa-heart"></i> :</label>
                                    <input type="number" step="1" min="0" max="500"
                                    name="wants_quantity[]" id="q2" value="{{{wants_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                                </td>
                                <td><label for="willing_to_trade_quantity"><i class='fas fa-people-arrows'></i> :</label>
                                    <input type="number" step="1" min="0" max="500"
                                    name="willing_to_trade_quantity[]" id="q3" value="{{{willing_to_trade_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                                </td>
                            </tr>
                        {{/each}}
                        {{#each collectibleNoRow}}
                            <tr>
                                <td>{{{collectible_id}}}</td>
                                <td style="word-break:break-word;" width="200px"><a href="/collectible/{{{collectible_id}}}">{{{name}}}</a></td>
                                <td>{{{type_name}}}</td>
                                <td>{{{created_at}}}</td>
                                <td style ="padding:0 15px 0 15px;"><img src=/collectible/image/{{{collectible_id}}} width="100px" height="100px" /></td>	
                                    <input type="hidden" name="collectible_id2[]" id="collectible_id2" value="{{{collectible_id}}}" readonly>
                                <td>
                                    <label for="has_quantity"><i class="fas fa-check"></i> :</label>
                                    <input type="number" step="1" min="0" max="500"
                                    name="has_quantity2[]" id="qa" value="0" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                                </td>
                                <td><label for="wants_quantity"><i class="fas fa-heart"></i> :</label>
                                    <input type="number" step="1" min="0" max="500"
                                    name="wants_quantity2[]" id="qb" value="0" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                                </td>
                                <td><label for="willing_to_trade_quantity"><i class='fas fa-people-arrows'></i> :</label>
                                    <input type="number" step="1" min="0" max="500"
                                    name="willing_to_trade_quantity2[]" id="qc" value="0" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                                </td>
                            </tr>
                        {{/each}}
                </table>
            </form>
        {{else}}
            <table class="table table-striped">
                    <tr>
                        <th>Collectible id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Date added to database</th>
                        <th>Image</th>
                    </tr>
                    {{#each collectible}}
                        <tr>
                            <td>{{{collectible_id}}}</td>
                            <td style="word-break:break-all;"><a href="/collectible/{{{collectible_id}}}">{{{name}}}</a></td>
                            <td>{{{type_name}}}</td>
                            <td>{{{created_at}}}</td>
                            <td style ="padding:0 15px 0 15px;"><img src=/collectible/image/{{{collectible_id}}} width="100px" height="100px" /></td>	
                        </tr>
                    {{/each}}
            </table>
        {{/if}}
    </div>
</div>
<link rel="stylesheet" href="/css/collectible.css"/>
<script src="/js/sortTable.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>  {{!-- this needs to be here or else the font awesome for trade icon does not work --}}