<div class="row justify-content-md-center mt-2">
    <div class="col col-md-8">
        <h2>Collectible</h2>
    {{#each collector}}
    <input type="hidden" name="collectible_id" id="collectible_id" value="{{{collectible_id}}}" readonly>
    <input type="hidden" name="collector_id" id="collector_id" value="{{{collector_id}}}" readonly>
    {{/each}}
    {{#if message}}
        <div class="alert {{messageClass}}" role="alert">
            {{message}}
        </div>
    {{/if}}
    {{#if nofilter}}
    {{else}}
    <form id='filter_type' action='/filter/:type_name' method='get'>
        <label> Filter by type: </label>
        <select id='type_filter' name="type_name"> 
            {{#each collectibleByType}}
            <option value="{{type_id}}">{{type_name}}</option>
            {{/each}}
        </select><br>
         <input class="button" type="button" value="Filter" onclick="filterCollectiblesByType()">
    </form>
    {{/if}}
            <input type="hidden" name="collectible_id" id="collectible_id" value="{{{collectible_id}}}" readonly>

    {{#if clearfilter}}
    <a class="button" type="button" href="/collectible"><button>Clear filter</button></a>
    {{/if}}
        <table class="table table-striped">
            <thead>
                <th>Collectible id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Piece Count</th>
                <th>Set Number</th>
                <th>Theme</th>
                <th>Designer</th>
                <th>Number</th>
                <th>Line</th>
                <th>Series</th>
                <th>Release Year</th>
                <th>Product Type</th>
                <th>Season/Holiday</th>
                <th>Generation</th>
                <th>Image</th>
                <th>Have</th>
                <th>Want</th>
                <th>For Trade</th>
     </thead>
    {{#each collectible}}
            <tbody>
                   <input type="hidden" name="collectible_id" id="collectible_id" value="{{{collectible_id}}}" readonly>
                    <tr>
                        <td>{{{collectible_id}}}</td>
                        <td style="word-break:break-word;" width="200px"><a href="/collectible/{{{collectible_id}}}">{{{name}}}</a></td>
                        <td>{{{type_name}}}</td>
                        <td>{{{attributes.piece_count}}}</td>
                        <td>{{{attributes.set_number}}}</td>
                        <td>{{{attributes.theme}}}</td>
                        <td>{{{attributes.designed_by}}}</td>
                        <td>{{{attributes.number}}}</td>
                        <td>{{{attributes.line}}}</td>
                        <td>{{{attributes.series}}}</td>
                        <td>{{{attributes.year_released}}}</td>
                        <td>{{{attributes.product_type}}}</td>
                        <td>{{{attributes.season}}}</td>
                        <td>{{{attributes.generation}}}</td>
                        <td style ="padding:0 15px 0 15px;"><img src=/collectible/image/{{{collectible_id}}} width="100px" height="100px" /></td>	
                        <form action='/collectible/has' method='post' class="form-example">
                         {{!-- {{#each collectionHas}} --}}
                            <input type="hidden" name="collectible_id[]" id="collectible_id" value="{{{collectible_id}}}" readonly>
                            <td>
                            <label for="has_quantity"><i class="fas fa-check"></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="has_quantity[]" id="q1" value="{{{has_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                        </td>
                        <td><label for="wants_quantity"><i class="fas fa-heart"></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="wants_quantity[]" id="q2" value="{{{wants_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                        </td>
                        <td><label for="willing_to_trade_quantity"><i class='fas fa-people-arrows'></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="willing_to_trade_quantity[]" id="q3" value="{{{willing_to_trade_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                        </td>
                        <td>
                        <input type="submit" class="btn btn-secondary" value="Update">
                        </td>
                    </form>
                    </tr>
            </tbody>
          {{/each}}
        </table>
    </form>   
    </div>
</div>
<link rel="stylesheet" href="/css/collectible.css"/>
<script src="/js/filterCollectibles.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>  {{!-- this needs to be here or else the font awesome for trade icon does not work --}}