<div class="row justify-content-md-center mt-2">
    <div class="col col-md-4">
        <h2>{{{username}}}</h2>
        <span><i class="fa fa-paper-plane"></i> <a href="mailto:{{{email}}}?subject=Collector's%20Trading%20Platform%20">{{{email}}}</a> • <i class="fa fa-phone"></i> <a href="tel:{{{phone_number}}}">{{{phone_number}}}</a></span>
        <hr/>
        <h3>Inventory</h3>
        <p>Tbd...</p>
    </div>
</div>