<div class="row justify-content-md-center mt-2">
    <div class="col col-md-4">
        <h2>{{{username}}}</h2>
        <h2>collector id: {{{collector_id}}}</h2>
        <span><i class="fa fa-paper-plane"></i> <a href="mailto:{{{email}}}?subject=Collector's%20Trading%20Platform%20">{{{email}}}</a> • <i class="fa fa-phone"></i> <a href="tel:{{{phone_number}}}">{{{phone_number}}}</a></span>
        <hr/>
        <h3>Inventory</h3>

        {{#each collection}}
        <div class="parent">
            <div class='child float-left-child'>
                <p><a href="/collectible/{{{collectible_id}}}">{{{name}}}</a></p>
                <td style ="padding:0 15px 0 15px;"><img src=/collectible/image/{{{collectible_id}}} width="100px" height="100px" />
                <p>has: {{{has_quantity}}}</p>   
                <p>wants: {{{wants_quantity}}}</p>
                <p>for trade: {{{willing_to_trade_quantity}}}</p> 
                </td>  
                </div> 
                </div>
         {{/each}}
        <div class="row justify-content-md-center mt-2">
    </div>
</div>

<link rel="stylesheet" href="/css/profile.css"/>