<div class="row justify-content-md-center mt-2">

    <div class="col col-md-4">
        {{#each collector}}
        <h2>{{{username}}}</h2>
        <h2>collector id: {{{collector_id}}}</h2>
        <span><i class="fa fa-paper-plane"></i> <a href="mailto:{{{email}}}?subject=Collector's%20Trading%20Platform%20">{{{email}}}</a> • <i class="fa fa-phone"></i> <a href="tel:{{{phone_number}}}">{{{phone_number}}}</a></span>
        <hr/>
        {{/each}}
    </div>



    <div class="col col-md-4 heading"><h3 >Inventory</h3></div>




                    
        <div class="col col-md-4">
            {{#each collectionHas}}
            <div class="parent">             
                <div class='child float-left-child'>
                    <td>
                        <form action="/profile/has" method="post" class="form-example"> 
                            <a href="/collectible/{{{collectible_id}}}">{{{name}}}</a>
                            <br>
                            <br><img src=/collectible/image/{{{collectible_id}}} width="100px" height="100px"/>
                            <br>
                            <br>
                            <input type="hidden" name="collectible_id[]" id="collectible_id" value="{{{collectible_id}}}" readonly>
                            <label for="willing_to_trade_quantity"><i class="fas fa-check"></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="has_quantity[]" id="q1" value="{{{has_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern=""inputmode="">
                            <label for="willing_to_trade_quantity"><i class="fas fa-heart"></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="wants_quantity[]" id="q2" value="{{{wants_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="" inputmode="">
                            <label for="willing_to_trade_quantity"><i class='fas fa-people-arrows'></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="willing_to_trade_quantity[]" id="q3" value="{{{willing_to_trade_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="" inputmode="">
                            <br>
                            <br>
                    </td>
                </div> 
            </div>
            {{/each}}
        </div>
            {{#if showHasButton}}
                <input type="submit" name="button" value="Edit collection in has list">
            {{/if}}
    </form>   

        <div class="col col-md-4 heading"><h3 >Wants</h3></div>
        <div class="col col-md-4">
            {{#each collectionWants}}
            <div class="parent">             
                <div class='child float-left-child'>
                    <td>
                        <form action="/profile/wants" method="post" class="form-example"> 
                            <a href="/collectible/{{{collectible_id}}}">{{{name}}}</a>
                            <br>
                            <br><img src=/collectible/image/{{{collectible_id}}} width="100px" height="100px"/>
                            <br>
                            <br>
                            <input type="hidden" name="collectible_id[]" id="collectible_id" value="{{{collectible_id}}}" readonly>
                            <label for="willing_to_trade_quantity"><i class="fas fa-check"></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="has_quantity[]" id="q1" value="{{{has_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern=""inputmode="">
                            <label for="willing_to_trade_quantity"><i class="fas fa-heart"></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="wants_quantity[]" id="q2" value="{{{wants_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="" inputmode="">
                            <label for="willing_to_trade_quantity"><i class='fas fa-people-arrows'></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="willing_to_trade_quantity[]" id="q3" value="{{{willing_to_trade_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="" inputmode="">
                            <br>
                            <br>
                    </td>
                </div> 
            </div>
            {{/each}}
        </div>
            {{#if showWantsButton}}
                <input type="submit" name="button" value="Edit collection in want list">
            {{/if}}
    </form>   

        <div class="col col-md-4 heading"><h3 >For Trade</h3></div>
        <div class="col col-md-4">
            {{#each collectionWillingToTrade}}
            <div class="parent">             
                <div class='child float-left-child'>
                    <td>
                        <form action="/profile/trades" method="post" class="form-example"> 
                            <a href="/collectible/{{{collectible_id}}}">{{{name}}}</a>
                            <br>
                            <br><img src=/collectible/image/{{{collectible_id}}} width="100px" height="100px"/>
                            <br>
                            <br>
                            <input type="hidden" name="collectible_id[]" id="collectible_id" value="{{{collectible_id}}}" readonly>
                            <label for="willing_to_trade_quantity"><i class="fas fa-check"></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="has_quantity[]" id="q1" value="{{{has_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern=""inputmode="">
                            <label for="willing_to_trade_quantity"><i class="fas fa-heart"></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="wants_quantity[]" id="q2" value="{{{wants_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="" inputmode="">
                            <label for="willing_to_trade_quantity"><i class='fas fa-people-arrows'></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="willing_to_trade_quantity[]" id="q3" value="{{{willing_to_trade_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="" inputmode="">
                            <br>
                            <br>
                    </td>
                </div> 
            </div>
            {{/each}}
        </div>
            {{#if showTradeButton}}
                <input type="submit" name="button" value="Edit collection in trade list">
            {{/if}}
    </form>   
      

<div class="col col-md-4 heading"><h3 >Matches</h3></div>
        <div class="col col-md-4">
        {{#each matches}}
            <div class="parent">             
                <div class='child float-left-child'>
                    <td>
                        <a href="/collectible/{{{collectible_id}}}">{{{name}}}</a>
                        <br>
                        <br><img src=/collectible/image/{{{collectible_id}}} width="100px" height="100px"/>
                        <br>Collector: {{{collector_id}}}
                        <br>for trade: {{{willing_to_trade_quantity}}}
                    </td>
                </div> 
            </div>
        {{/each}}
    </div>
</div>



<link rel="stylesheet" href="/css/profile.css"/>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>  {{!-- this needs to be here or else the font awesome for trade icon does not work --}}