<div class="row justify-content-md-center mt-2">

<div class="col col-md-4">
    {{#each collector}}
        <h2>{{{username}}}</h2>
        <h2>collector id: {{{collector_id}}}</h2>
        <span><i class="fa fa-paper-plane"></i> <a href="mailto:{{{email}}}?subject=Collector's%20Trading%20Platform%20">{{{email}}}</a> • <i class="fa fa-phone"></i> <a href="tel:{{{phone_number}}}">{{{phone_number}}}</a></span>
        <br/>
        <hr/>
    {{/each}}
</div>

<p><i class="fas fa-check"></i> : has &nbsp;&nbsp; <i class="fas fa-heart"></i> : wants &nbsp;&nbsp; <i class='fas fa-people-arrows'></i> : for trade


<div class="col col-md-4 heading"><h3 >Inventory</h3></div>
    <div class="col col-md-4"></div>
        <form action="/profile" method="post" class="form-example">
                <div class="parent">             
                    <div class='child float-left-child'>
                        <td>
                            {{#each collectionHas}}
                            <a href="/collectible/{{{collectible_id}}}">{{{name}}}</a>
                            <br>
                            <br><img src=/collectible/image/{{{collectible_id}}} width="100px" height="100px"/>
                            <br>
                            <input type="hidden" name="collectible_id" id="collectible_id" value="{{{collectible_id}}}" readonly>
                            <label for="willing_to_trade_quantity"><i class="fas fa-check"></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="has_quantity" id="q1" value="{{{has_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern=""inputmode="">
                            <label for="willing_to_trade_quantity"><i class="fas fa-heart"></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="wants_quantity" id="q2" value="{{{wants_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="" inputmode="">
                            <label for="willing_to_trade_quantity"><i class='fas fa-people-arrows'></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="willing_to_trade_quantity" id="q3" value="{{{willing_to_trade_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="" inputmode="">
                            <br>
                            <input type="submit" name="button" value="Submit">
                            {{/each}}
                        </td>
                    </div> 
                </div>
        </form>
    </div>
</div>
</div>

<script src='https://kit.fontawesome.com/a076d05399.js'></script>  {{!-- this needs to be here or else the font awesome for trade icon does not work --}}
<link rel="stylesheet" href="/css/profile.css"/>
