<div class="row justify-content-md-center mt-2">
    
    <div class="col col-md-4">
        {{#each collector}}
        <h2>{{{username}}}</h2>
        <h2>collector id: {{{collector_id}}}</h2>
        <span><i class="fa fa-paper-plane"></i> <a href="mailto:{{{email}}}?subject=Collector's%20Trading%20Platform%20">{{{email}}}</a> • <i class="fa fa-phone"></i> <a href="tel:{{{phone_number}}}">{{{phone_number}}}</a></span>
        {{/each}}
        <br>
        <br>
        <span style="font-size:18px">Rating:</span>
        {{#if noRating}}
        <span>no ratings received</span>
        {{/if}} 
        {{#if zeroStar}}
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>  
        <span class="fa fa-star-o"></span>   
        <span class="fa fa-star-o"></span>  
        {{/if}}        
        {{#if halfStar}}
        <span class="fa fa-star-half-o"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>  
        <span class="fa fa-star-o"></span>        
        {{/if}}
        {{#if oneStar}}
        <span class="fa fa-star"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>  
        <span class="fa fa-star-o"></span>   
        {{/if}}
        {{#if oneHalfStar}}
        <span class="fa fa-star"></span>
        <span class="fa fa-star-half-o"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>  
        {{/if}}        
        {{#if twoStar}}
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>        
        {{/if}}
        {{#if twoHalfStar}}
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star-half-o"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>
        {{/if}}
        {{#if threeStar}}
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>
        {{/if}}        
        {{#if threeHalfStar}}
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star-half-o"></span>
        <span class="fa fa-star-o"></span>
        {{/if}}
        {{#if fourStar}}
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star-o"></span>        
        {{/if}}
        {{#if fourHalfStar}}
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star-half-o"></span>
        {{/if}}        
        {{#if fiveStar}}
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>        
        <span class="fa fa-star"></span>
        {{/if}}
        <br>
        <span><a href="/collector/rating/{{{collector_id}}}">View your ratings</a></span>
        <hr/>
        
        <form action="/profile/publictoggle" method="post" class="form-example"> 
        <div class="parent">             
            <div class='child float-left-child2'>
                <td>
                    <p>Allow other users to see your have list?</p>
                    {{#if showHasPublic}}
                    <input type="radio" id="yes" name="has_public" value="true" checked>
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="has_public" value="false">
                    <label for="no">No</label>
                    {{else}}
                    <input type="radio" id="yes" name="has_public" value="true">
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="has_public" value="false" checked>
                    <label for="no">No</label>
                    {{/if}}
                </td>
            </div> 
            <div class='child float-left-child2'>
                <td>
                    <p>Allow other users to see your want list?</p>
                    {{#if showWantsPublic}}
                    <input type="radio" id="yes" name="wants_public" value="true" checked>
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="wants_public" value="false">
                    <label for="no">No</label>
                    {{else}}
                    <input type="radio" id="yes" name="wants_public" value="true">
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="wants_public" value="false" checked>
                    <label for="no">No</label>           
                    {{/if}}
                </td>
            </div>
            <div class='child float-left-child2'>
                <td>
                    <p>Allow other users to see your trade list?</p>
                    {{#if showTradesPublic}}
                    <input type="radio" id="yes" name="trades_public" value="true" checked>
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="trades_public" value="false">
                    <label for="no">No</label>
                    {{else}}
                    <input type="radio" id="yes" name="trades_public" value="true">
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="trades_public" value="false" checked>
                    <label for="no">No</label>
                    {{/if}}
                </td>
            </div> 
        </div>
    </div>
    <div class="col col-md-4">
        <div class="parent">
            <div class='child float-left-child3'>
                <input type="submit" class="btn btn-secondary" value="Update preferences">
                </form> 
            </div>
        </div>
    </div>
    
    <div class="col col-md-4">
        <hr/>
        <p><a href="/profile/list">view in text list format</a></p>
        <p><i class="fas fa-check"></i> : <a href="#have">have</a> &nbsp;&nbsp; | &nbsp;&nbsp; <i class="fas fa-heart"></i> : <a href="#want">want</a> &nbsp;&nbsp; | &nbsp;&nbsp; <i class='fas fa-people-arrows'></i> : <a href="#trade">for trade</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="#match">matches</a></p>
    </div>
    <div>
        <h3>Filter</h3>
        <form method="GET" action="/profile" id="filter-form">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="legoFilter" name="filter" value="lego">
                <label class="form-check-label" for="legoFilter">Lego</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="funkoFilter" name="filter" value="funko">
                <label class="form-check-label" for="funkoFilter">Funko</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="pusheenFilter" name="filter" value="pusheen">
                <label class="form-check-label" for="pusheenFilter">Pusheen</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="pokemonFilter" name="filter" value="pokemon">
                <label class="form-check-label" for="pokemonFilter">Pokemon</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="hotwheelFilter" name="filter" value="hot wheel">
                <label class="form-check-label" for="hotwheelFilter">Hot Wheel</label>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
            <a class="btn btn-success" href="/profile" role="button">Reset</a>
        </form>
    </div>
    <div id="have" class="col col-md-4 heading"><h3>Have List</h3></div>
        <div class="col col-md-4">
            {{#each collectionHas}}
            <div class="parent">
                <div class='child float-left-child'>
                    <td>
                        <form action="/profile/has" method="post" class="form-example"> 
                            <a href="/collectible/{{{collectible_id}}}">{{{name}}}</a>
                            <p class="small">{{{typeName}}}</p>
                            <br>
                            <img src=/collectible/image/{{{collectible_id}}}/>
                            <br>
                            <input type="hidden" name="collectible_id[]" id="collectible_id" value="{{{collectible_id}}}" readonly>
                            <label for="willing_to_trade_quantity"><i class="fas fa-check"></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="has_quantity[]" id="q1" value="{{{has_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                            <label for="willing_to_trade_quantity"><i class="fas fa-heart"></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="wants_quantity[]" id="q2" value="{{{wants_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                            <label for="willing_to_trade_quantity"><i class='fas fa-people-arrows'></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="willing_to_trade_quantity[]" id="q3" value="{{{willing_to_trade_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                    </td>
                </div> 
            </div>
            {{/each}}
        </div>
            {{#if showHasButton}}
                <button type="submit" class="btn btn-secondary">Edit collection in have list</button>
            {{else}}
                <p>You have nothing in your have list</p>
            {{/if}}
    </form>   

    <div id="want" class="col col-md-4 heading"><h3>Want List</h3></div>
        <div class="col col-md-4">
            {{#each collectionWants}}
            <div class="parent">
                <div class='child float-left-child'>
                    <td>
                        <form action="/profile/wants" method="post" class="form-example"> 
                            <a href="/collectible/{{{collectible_id}}}">{{{name}}}</a>
                            <p class="small">{{{typeName}}}</p>
                            <br>
                            <img src=/collectible/image/{{{collectible_id}}}/>
                            <br>
                            <input type="hidden" name="collectible_id[]" id="collectible_id" value="{{{collectible_id}}}" readonly>
                            <label for="willing_to_trade_quantity"><i class="fas fa-check"></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="has_quantity[]" id="q1" value="{{{has_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                            <label for="willing_to_trade_quantity"><i class="fas fa-heart"></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="wants_quantity[]" id="q2" value="{{{wants_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                            <label for="willing_to_trade_quantity"><i class='fas fa-people-arrows'></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="willing_to_trade_quantity[]" id="q3" value="{{{willing_to_trade_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                    </td>
                </div> 
            </div>
            {{/each}}
        </div>
            {{#if showWantsButton}}
                <button type="submit" class="btn btn-secondary">Edit collection in want list</button>
            {{else}}
                <p>You have nothing in your want list</p>
            {{/if}}
    </form>   

    <div id="trade" class="col col-md-4 heading"><h3>For Trade List</h3></div>
        <div class="col col-md-4">
            {{#each collectionWillingToTrade}}
            <div class="parent">             
                <div class='child float-left-child'>
                    <td>
                        <form action="/profile/trades" method="post" class="form-example"> 
                            <a href="/collectible/{{{collectible_id}}}">{{{name}}}</a>
                            <p class="small">{{{typeName}}}</p>
                            <br>
                            <img src=/collectible/image/{{{collectible_id}}}/>
                            <br>
                            <input type="hidden" name="collectible_id[]" id="collectible_id" value="{{{collectible_id}}}" readonly>
                            <label for="willing_to_trade_quantity"><i class="fas fa-check"></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="has_quantity[]" id="q1" value="{{{has_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                            <label for="willing_to_trade_quantity"><i class="fas fa-heart"></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="wants_quantity[]" id="q2" value="{{{wants_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                            <label for="willing_to_trade_quantity"><i class='fas fa-people-arrows'></i> :</label>
                            <input type="number" step="1" min="0" max="500"
                            name="willing_to_trade_quantity[]" id="q3" value="{{{willing_to_trade_quantity}}}" title="Qty" class="input-text qty text" size="3" pattern="(.|\s)*\S(.|\s)*" inputmode="" required>
                    </td>
                </div> 
            </div>
            {{/each}}
        </div>
            {{#if showTradeButton}}
                <button type="submit" class="btn btn-secondary">Edit collection in trade list</button>
            {{else}}
                <p>You have nothing in your trade list</p>
            {{/if}}
    </form>   
      
    <div id="match" class="col col-md-4 heading"><h3>Trade Matches</h3></div>
        <div class="col col-md-4">
        {{#each matches}}
            <div class="parent">
                <div class='child float-left-child'>
                    <td>
                        <a href="/collectible/{{{collectible_id}}}">{{{name}}}</a>
                        <p class="small">{{{typeName}}}</p>
                        <br>
                        <img src=/collectible/image/{{{collectible_id}}} width="100px" height="100px"/>
                        <br><a href="/collector/trade/images/{{{collector_id}}}">{{{username}}}</a> has
                        <br>{{{willing_to_trade_quantity}}} for trade.
                    </td>
                </div> 
                {{/each}}
            </div>
            {{#if noMatches}}
                <p>You have no trade matches</p>
            {{/if}}
    </div>
</div>

<link rel="stylesheet" href="/css/profile.css"/>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>  {{!-- this needs to be here or else the font awesome for trade icon does not work --}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" /> {{!-- this needs to be here for the half stars and empty stars --}}