<h3>Your trade matches with <a href="/collector/{{{otherUser.username}}}">{{{otherUser.username}}}</a></h3>
    <div class="row">
        <div class="column">
            <h4>Collectibles you have that {{{otherUser.username}}}'s wants:</h4>
            <table class="table table-striped">
                <thead>
                    <th>Collectible</th>
                    <th>Qty To Trade</th>
                </thead>
                <tbody>
                    {{#each currentUserCollectibles}}
                        <tr>
                            <td><a href="/collectible/{{{collectible_id}}}">{{{name}}}</a></td>
                            <td>{{{willing_to_trade_quantity}}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="column">
            <h4>Collectilbes {{{otherUser.username}}} has that you want:</h4>
            <table class="table table-striped">
                <thead>
                    <th>Collectible</th>
                    <th>Qty To Trade</th>
                </thead>
                <tbody>
                    {{#each otherUserCollectibles}}
                        <tr>
                            <td><a href="/collectible/{{{collectible_id}}}">{{{name}}}</a></td>
                            <td>{{{willing_to_trade_quantity}}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
<link rel="stylesheet" href="/css/trade.css"/>