<h3>Your trade matches with {{#each collector2}} <a href="/collector/{{{collector_id}}}">{{{username}}}</a>{{/each}}</h3>
    <div class="row">
        <div class="column" style="background-color:#aaa;">
            <h4>{{#each collector1}} {{{loggedInUsername}}}'s {{/each}} trades to {{#each collector2}} {{{username}}}'s {{/each}} wants:</h4>
            <p>Some text..</p>
        </div>

        <div class="column" style="background-color:#bbb;">
            <h4>{{#each collector2}} {{{username}}}'s {{/each}} trades to {{#each collector1}} {{{loggedInUsername}}}'s {{/each}} wants:</h4>
            <p>Some text..</p>
        </div>
    </div>
<link rel="stylesheet" href="/css/trade.css"/>