<h3>Trade Matches</h3>
<div>
    <h3>Filter</h3>
    <form method="GET" action="/collector/trade/images/{{{otherUser.collector_id}}}" id="filter-form">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="legoFilter" name="filter" value="lego">
            <label class="form-check-label" for="legoFilter">Lego</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="funkoFilter" name="filter" value="funko">
            <label class="form-check-label" for="funkoFilter">Funko</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="pusheenFilter" name="filter" value="pusheen">
            <label class="form-check-label" for="pusheenFilter">Pusheen</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="pokemonFilter" name="filter" value="pokemon">
            <label class="form-check-label" for="pokemonFilter">Pokemon</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="hotwheelFilter" name="filter" value="hot wheel">
            <label class="form-check-label" for="hotwheelFilter">Hot Wheel</label>
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
        <a class="btn btn-success" href="/collector/trade/images/{{{otherUser.collector_id}}}" role="button">Reset</a>
    </form>
</div>
<h7><a href="/collector/trade/{{{otherUser.collector_id}}}">view in text list format</a></h7>
<div class="row">
    <div class="column">
        <h4>Collectibles you have that <a href="/collector/{{{otherUser.collector_id}}}">{{{otherUser.username}}}</a> wants:</h4>
        <hr/>
            {{#if wantsPublic}}
            {{#if currentUserMatchesExist}}
            {{#each currentUserCollectibles}}
            <div class="parent">             
                    <div class='child float-left-child'>
                        <td>
                            <a href="/collectible/{{{collectible_id}}}">{{{name}}}</a>
                            <br>
                            <img src=/collectible/image/{{{collectible_id}}}/>
                        </td>
                    </div> 
                </div>
            {{/each}}
            {{else}}
            <p>No matches</p>
            {{/if}}
            {{else}}
            <p>This collector's want list is private</p>
            {{/if}}
    </div>
    <div class="column">
        <h4>Collectibles <a href="/collector/{{{otherUser.collector_id}}}">{{{otherUser.username}}}</a> has that you want:</h4>
        <hr/>
            {{#if tradesPublic}}
            {{#if otherUserMatchesExist}}
            {{#each otherUserCollectibles}}
                <div class="parent">             
                    <div class='child float-left-child'>
                        <td>
                            <a href="/collectible/{{{collectible_id}}}">{{{name}}}</a>
                            <br>
                            <img src=/collectible/image/{{{collectible_id}}}/>
                        </td>
                    </div> 
                </div>
            {{/each}}
            {{else}}
            <p>No matches</p>
            {{/if}}
            {{else}}
            <p>This collector's trade list is private</p>
            {{/if}}
    </div>
</div>
<link rel="stylesheet" href="/css/tradeimages.css"/>