<h3>Trade Matches</h3>
<div>
    <h6>Filter</h6>
    <form method="GET" action="/collector/trade/{{{otherUser.collector_id}}}" id="filter-form">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="legoFilter" name="filter" value="Lego">
            <label class="form-check-label" for="legoFilter">Lego</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="funkoFilter" name="filter" value="Funko">
            <label class="form-check-label" for="funkoFilter">Funko</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="pusheenFilter" name="filter" value="Pusheen">
            <label class="form-check-label" for="pusheenFilter">Pusheen</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="pokemonFilter" name="filter" value="Pokemon">
            <label class="form-check-label" for="pokemonFilter">Pokemon</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="hotwheelsFilter" name="filter" value="Hot Wheels">
            <label class="form-check-label" for="hotwheelsFilter">Hot Wheels</label>
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
        <a class="btn btn-success" href="/collector/trade/{{{otherUser.collector_id}}}" role="button">Reset</a>
    </form>
</div>
<h7><a href="/collector/trade/images/{{{otherUser.collector_id}}}">view in image list format</a></h7>
<div class="row">
    <div class="column">
        <h4>Collectibles you have for trade that <a href="/collector/list/{{{otherUser.collector_id}}}">{{{otherUser.username}}}</a> wants:</h4>
        {{#if wantsPublic}}
        {{#if currentUserMatchesExist}}
        <table class="table table-striped">
            <thead>
                <th>Collectible</th>
                <th>Type</th>
                <th>Qty To Trade</th>
            </thead>
            <tbody>
                {{#each currentUserCollectibles}}
                    <tr>
                        <td style="word-break: break-word;" width="200px"><a href="/collectible/{{{collectible_id}}}">{{{name}}}</a></td>
                        <td width="150px">{{{typeName}}}</td>
                        <td width="130px">{{{willing_to_trade_quantity}}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <p>No matches</p>
        {{/if}}
        {{else}}
        <p>This collector's want list is private</p>
        {{/if}}
    </div>

    <div class="column">
        <h4>Collectibles <a href="/collector/list/{{{otherUser.collector_id}}}">{{{otherUser.username}}}</a> has for trade that you want:</h4>
        {{#if tradesPublic}}
        {{#if otherUserMatchesExist}}
        <table class="table table-striped">
            <thead>
                <th>Collectible</th>
                <th>Type</th>
                <th>Qty To Trade</th>
            </thead>
            <tbody>
                {{#each otherUserCollectibles}}
                    <tr>
                        <td style="word-break: break-word;" width="200px"><a href="/collectible/{{{collectible_id}}}">{{{name}}}</a></td>
                        <td width="150px">{{{typeName}}}</td>                    
                        <td width="130px">{{{willing_to_trade_quantity}}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <p>No matches</p>
        {{/if}}
        {{else}}
        <p>This collector's trade list is private</p>
        {{/if}}
    </div>
</div>
<link rel="stylesheet" href="/css/trade.css"/>
